*{
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
    /* max-width: 1366px; */
    width: 100%;
}
/* .logo {
    padding-left: -490px;
} */
.container {
    width: 1366px;
}
.header {
    background-color: #e9e9e9;
     width: 1366px;
    height: 670px;
    margin: auto;
}
ul, li {
    display: block;
    padding: 0;
    margin: 0;
    /* width: 640px; */
}
nav {
    padding-right: 95px;
}
.menu {
    margin-top: 7px;

}
.menu__item {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.menu__item a {
    position: relative; 
    left: 486px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
}
a:hover { 
    color: #10c9c3;
}
.main-header {
    padding: 38px 0;
}
.title {
    padding: 180px;
    position: relative; 
    left: 525px;
}
.title__heading {
    color: black;
    font-weight: 700;
    font-size: 38px;
}
.t__intro {
    font-size: 18px;
    /* height: 73px; */
    width: 473px; 
    padding: 40px 0;
    
}
button {
    background-color: #10c9c3;  
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0px 44px;
    display: block;
    cursor: pointer;
    width: 180px;
    height: 54px;
    border: 0;  
    position: relative;  
    right: 12px;
}
.about {
    height: 420px;
    
}
.title__about {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 38px; 
}
.a__intro {
    font-size: 16px;
    text-align: center;
}
.signature {
    position: relative;
    left: 443px; 
    top: 20px;
}
.percent {
    background-color: #f8f9f9;
    height: 570px;
    width: 680px;
    display:inline-block;
    position: relative;

}
.p__background {
    background-color: #e9e9e9;
    height: 570px;
    width: 680px;
    display:inline-block;
    position: relative;
}
